
/*secondary nav */

nav {
    height:50px;
}
.nav {
    position:fixed;
    height:52px;
    top:0px;
    width:100%;
    left:0px;
    max-width:auto;
    background:white;
    z-index:8;
    border-bottom:2px solid #cccccc;
  
    
}

.navbar-brand {
    Position:fixed;
    top:0px;
    background:#4aaaa5;
    Color:white;
    height:50px;
    z-index:9;
    
}

h1 {
color:#4aaaa5;
font-family: 'Georgia', Times, Times New Roman, serif;

}
.ML {
    Position:relative;
    top:0px;
    color:white;
    background:#4aaaa5;
    font-family: 'georgia',Times,'Times New Roman',serif;
    z-index:9;
    height:45px;
}



.main-content {
    background:white;
    box-shadow:2px grey;
    border:solid 1px;
    padding:15px;
  
}



#headshot {
    float:left;
    padding:10px 20px 15px 0px;
   max-width:auto;
    
}

body {
    background-image:URL('images/background3.jpg');
    position:relative;
    top:5%;
    margin:100px;
    padding:10px;
    overflow:scroll;
    height:500px;
    }


form{
    margin:50px;
}

.img-fluid {
width:250px;
height:250px;
}

.footer {
    position:fixed;
    bottom:0px;
    background-color:#666666;
    color:white;
    width:100%;
    left:0px;
    height:50px;
    max-width:auto;
    text-align:center;
    border-top: 5px solid #4aaaa5;
    margin:10px 0px 0px 0px;

   

}

