
/*secondary nav */

.nav {
    position:fixed;
    left:0px;
    top:0px;
    height:auto;
    margin: 0 0px 0 0px;
    font-family: Arial;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
    background:white;
    box-shadow:0 0 3px 0 #666666;
    z-index:9;
 }

.nav-link {
    color:#666666;
    margin:10px 0px 0px 0px;
    
  
}

.nav-item {
    padding:10 0 10 0;
}


.container {
    width:100%;
    
    
}

h1 {
color:#4aaaa5;
font-family: 'Georgia', Times, Times New Roman, serif;
margin:0px 0px 0px 30px;


}

#name {
    position:relative;
    top:0px;
    left:0px;
    right:5%;
    height:60px;
    color:#666666;
    background:#4aaaa5;
    padding: auto;
    margin: 0 70px 0 40px;
    
    
}


.ML-Header {
    color:white;
    background:#4aaaa5;
    font-family: 'georgia',Times,'Times New Roman',serif;
   Text-align:center;
    width:200px;
    Font-size:25pt;
    margin:auto;

  
    

}



.main-content {
    position:relative;
    top:25px;
    background:white;
    box-sizing:border-box;
    box-shadow:1px 1px #c0c0c0;
    width:100%;
    Font-Family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding:10px;
    padding-top:20px;
    margin: 35px 5px 10% 5px;
    
   
  
}



#headshot {
    float:left;
    padding:10px 20px 15px 0px;
   
    
}

body {
    background-image:URL('images/background3.jpg');
    position:relative;
    top:5%;
    margin:5% 5% 20px 5%;
    padding:10px;
    overflow:scroll;
    height:500px;
    }


form{
    margin:50px;
}



.img-fluid {
width:250px;
height:250px;
margin:10px;
}

.green-box {
    position:relative;
    bottom:50px;
    width:250px;
    height:60px;
    background-color:#4aaaa5;
    color:white;
    margin:10px;
    
    
}

.ML { 
    color:white;
    background:#4aaaa5;
    font-family: 'georgia',Times,'Times New Roman',serif;
    text-align:center;
    padding:10px 0px;
    margin:auto;
    font-size:20pt;
  
    

}


.footer {
    position:fixed;
    bottom:0px;
    background-color:#666666;
    color:white;
    width:100%;
    left:0px;
    height:50px;
    max-width:auto;
    text-align:center;
    border-top: 5px solid #4aaaa5;
    margin:10px 0px 0px 0px;

   

}

